In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('US_GDP.csv')
df2 = pd.read_csv('FRA_GDP_BY_YEAR.csv')

In [4]:
df.head()

         DATE  VALUE
0  1947-01-01  250.0
1  1948-01-01  274.8
2  1949-01-01  272.9
3  1950-01-01  300.2
4  1951-01-01  347.3

In [5]:
df2.head()

         Date     Value
0  2020-12-31  2940.194
1  2019-12-31  2801.752
2  2018-12-31  2690.483
3  2017-12-31  2586.568
4  2016-12-31  2488.378

In [6]:
df['US_GDP'] = df['VALUE']
df = df[['DATE', 'US_GDP']]

In [7]:
df2['FRA_GDP'] = df2['Value']
df2 = df2[['Date', 'FRA_GDP']]

In [8]:
df.head()

         DATE  US_GDP
0  1947-01-01   250.0
1  1948-01-01   274.8
2  1949-01-01   272.9
3  1950-01-01   300.2
4  1951-01-01   347.3

In [9]:
df2.head()

         Date   FRA_GDP
0  2020-12-31  2940.194
1  2019-12-31  2801.752
2  2018-12-31  2690.483
3  2017-12-31  2586.568
4  2016-12-31  2488.378

In [10]:
df['year'] = df['DATE'].str.split('-').str[0]
df2['year'] = df2['Date'].str.split('-').str[0]

In [11]:
df.head()

         DATE  US_GDP  year
0  1947-01-01   250.0  1947
1  1948-01-01   274.8  1948
2  1949-01-01   272.9  1949
3  1950-01-01   300.2  1950
4  1951-01-01   347.3  1951

In [13]:
df['year'] = df['year'].astype(int) - 1

In [14]:
df.head()

         DATE  US_GDP  year
0  1947-01-01   250.0  1946
1  1948-01-01   274.8  1947
2  1949-01-01   272.9  1948
3  1950-01-01   300.2  1949
4  1951-01-01   347.3  1950

In [ ]:
df

In [13]:
res = pd.merge(df, df2, how='inner', on='year')

In [14]:
res.head()

         DATE  US_GDP  year        Date  FRA_GDP
0  1980-01-01  2862.5  1980  1980-12-31  704.515
1  1981-01-01  3211.0  1981  1981-12-31  621.172
2  1982-01-01  3345.0  1982  1982-12-31  590.127
3  1983-01-01  3638.1  1983  1983-12-31  564.582
4  1984-01-01  4040.7  1984  1984-12-31  534.333

In [16]:
res.to_csv('joined_fra_usa_gdp.csv')